* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.album {
    width: calc(70% / 4);
    background-color: #00000094;
    color: white;
    padding: 10px;
    margin: 20px 10px;
    text-align: center;
    border-radius: 20px;
}

.album img {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.bg-black {
    background-color: rgb(36, 36, 36);
}

